body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: #F2A900;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

nav ul li a:hover {
    color: #F2A900;
}

.user-options a {
    margin-left: 10px;
}

.user-options img {
    height: 24px;
    border-radius: 100cm;
}

main {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.cubiculo-info {
    width: 25%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.cubiculo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cubiculo-logo .logo-placeholder {
    width: 315px;
    height: 100px;
    background-color: #000;
    color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}

.edit-button {
    background-color: #ffcc00;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cubiculo-details p {
    margin: 10px 0;
}

.productos {
    width: 70%;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.producto {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

.image-placeholder {
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 0 auto 10px;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
}

footer button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.add-button {
    background-color: #ffcc00;
}

.delete-button {
    background-color: #ff0000;
    color: #fff;
}

.edit-cubiculo-button {
    background-color: #ccc;
}
