<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/AdministradorArrendatario.html">1</a>
<a href="/ArrendatarioCubiculo.html">1</a>
<a href="/vistaCubiculo.html">1</a>
<a href="/agregar_tarjeta.html">1</a>
<a href="/EditarProducto.html">1</a>
<a href="/Vistaproducto.html">1</a>
<a href="/Vista_de_Cubiculos_Administrador.html">1</a>
<a href="/Vista_de_usuarios_Administrador.html">1</a>
<a href="/Register.html">1</a>
<a href="/Login.html">1</a>
</body>
</html>
